body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  background-color: #242E7F;
}

#front, #back {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
#main {
  z-index: 2;
}

#front {
  z-index: 2;
  margin: 10px;
  padding: 10px;
}

#back {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-image: url("assets/img/background_splash.jpg");

  animation-duration: 0.7s;
  animation-delay: 20s;

  animation: fadeOut ease 8s;
  animation-fill-mode:forwards;
}


.splash-logo img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  animation: fadeIn ease 5s;
}

.fade-out {
  animation-delay:20s;
  animation: fadeOut ease 8s;
  animation-fill-mode:forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

.header {
  color: #fbdc60;
}
